body {
    font-family: 'Liter', 'Roboto', sans-serif;
    background-color:darkslategray;
}

h1 {
    font-size: 28px;
}
.quizContainer {
    position: relative;
    margin: 0 auto;
    margin-top: 20px;
    padding: 20px;
    border-radius: 25px;
    background-color:beige;
    width: 880px;
}

#arenaContainer {
    position: relative;
    top: 0;
    left: 0;
    margin: 10px;
    border-radius: 50px;
    height: 860px;
}

.info {
    padding: 0 10px;
    display: flex;
    justify-content: space-around;
}

#arenaContainer img {
    position: absolute;
    transition: left 0.5s ease, top 0.5s ease, transform 0.5s ease;
    transform-origin: center center;
}

.invisibleImg {
    display: none;
}

#boss_aoe {
    clip-path: polygon(0% 0%, 50% 50%, 100% 0%, 100% 100%, 0 100%);
    opacity: 30%
}

.testLoc {
    clip-path: circle(25% at 50% 50%);
}

.testDir {
    clip-path: polygon(50% 45%, 80% 90%, 50% 80%, 20% 90%);
}

#buttons {
    padding: 20px;
    text-align: center;
}

button {
    padding: 15px;
    font-size: 20px;
    margin: 2px 2px;
    border-radius: 15px;
    width: 130px;
}

#bossInfo {
    width: 50px;
}

#playerInfo {
    width: 100px;
}

#scoreInfo {
    width: 200px;
}

#explanation {
    border-style: solid;
    border-radius: 15px;
    border-width: 2px;
    margin: 10px 20px;
    padding: 30px 30px;
    display: inline-block;
    width: 100%;
    text-align: center;
    font-size: 24px;
}

.correct {
    border-color: green;
    background-color: lightgreen;
}

.wrong {
    border-color: darkred;
    background-color: lightcoral;
}

.instruction {
    border-color: grey;
    background-color: lightgray;
}


#resetButton {
    background-color: lightcoral;
}

#confirmButton {
    background-color: lightgreen;
}

svg {
    position:absolute;
}

line {
    stroke:white;
    stroke-width:3;
}